<a href="https://colab.research.google.com/github/gulabpatel/Python_Tutorials/blob/master/Competitive_Python_Coding/DSA_Competetive_Programing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#0 Convert biased coin into unbiased

In [ ]:
2

2

In [ ]:
a = [1,1,3,2,4,5]
a = a.remove(3)
a

In [ ]:
a

In [ ]:
from random import randint
HEADS, TAILS = 1, 0
# A biased function that returns TAILS with 80% probability and HEADS with 20% probability
def biased():
    # generate a random number between 0–99, both inclusive
    r = randint(0, 99) 
    # return TAILS if we got a number between [0–79]; otherwise, return HEADS
    # random.random()
    # A = [0]*8 + [1]*2    #return random.choice(A)
    return TAILS if (r <= 79) else HEADS
 
# Return HEADS and TAILS with equal probability using the specified function
def generate():
    while True:
        first = biased()
        second = biased()
        if first is not second:
            return first   # or return second
 
if __name__ == '__main__':
    x = y = 0
    for i in range(10000):
        val = generate()
        if val > 0:
            x += 1
        else:
            y += 1
    print('HEADS ~', x / 100, '%')        # ~50%
    print('TAILS ~', y / 100, '%')        # ~50%

HEADS ~ 49.21 %
TAILS ~ 50.79 %

In [ ]:
# Python3 program to Generate integer from 1 to 7 with equal probability
# given method that returns 1 to 5 with equal probability
def foo():
	# some code here
	return randint(1,5)

# returns 1 to 7 with equal probability
def my_rand():
	i = 0
	i = (5 * foo()) + (foo() - 5)
	if (i < 22):
		# if(i < 0):
		# 	return (i % 7 - 7) + 1
		# else:
			return (i % 7) + 1

	return my_rand()

# Driver code
if __name__ == '__main__':
  x1, x2, x3, x4, x5, x6, x7 = 0, 0, 0, 0, 0, 0, 0
  for i in range(1000000):
      val = my_rand()
      if val == 1:
        x1 += 1
      elif val == 2:
        x2 += 1
      elif val == 3:
        x3 += 1
      elif val == 4:
        x4 += 1
      elif val == 5:
        x5 += 1
      elif val == 6:
        x6 += 1
      else:
        x7 += 1
  print('X1 ~', x1 / 10000, '%')        
  print('X2 ~', x2 / 10000, '%')        
  print('X3 ~', x3 / 10000, '%')        
  print('X4 ~', x4 / 10000, '%')       
  print('X5 ~', x5 / 10000, '%')        
  print('X6 ~', x6 / 10000, '%')       
  print('X7 ~', x7 / 10000, '%')

X1 ~ 14.2944 %
X2 ~ 14.2893 %
X3 ~ 14.2581 %
X4 ~ 14.2543 %
X5 ~ 14.3135 %
X6 ~ 14.2752 %
X7 ~ 14.3152 %

In [ ]:
# # Python3 program to Generate integer from 1 to 5 with equal probability
# # given method that returns 0 or 1 with equal probability
# def foo():
# 	# some code here
# 	return randint(0,1)

# # returns 1 to 7 with equal probability
# def my_rand():
# 	i = 0
# 	i = (5 * foo()) + 1  #1,6
# 	for j in range(5):
# 			return (i*j % 5) + 1

# 	return my_rand()

# # Driver code
# if __name__ == '__main__':
#   x1, x2, x3, x4, x5 = 0, 0, 0, 0, 0
#   for i in range(1000000):
#       val = my_rand()
#       if val == 1:
#         x1 += 1
#       elif val == 2:
#         x2 += 1
#       elif val == 3:
#         x3 += 1
#       elif val == 4:
#         x4 += 1
#       else:
#         x5 += 1
#   print('X1 ~', x1 / 10000, '%')        
#   print('X2 ~', x2 / 10000, '%')        
#   print('X3 ~', x3 / 10000, '%')        
#   print('X4 ~', x4 / 10000, '%')       
#   print('X5 ~', x5 / 10000, '%')

SyntaxError: ignored

# 1 Sort in ascending order Bubble Sort

In [ ]:
arr = [5, 2, 8, 7, 1];     
temp = 0;         
#Sort the array in ascending order    
for i in range(0, len(arr)):    
    for j in range(i+1, len(arr)):    
        if(arr[i] > arr[j]):    
            temp = arr[i];    
            arr[i] = arr[j];    
            arr[j] = temp;    
arr

[1, 2, 5, 7, 8]

#2 Reverse array

In [ ]:
# Example input list of numbers
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
L = len(numbers)
# i goes from 0 to the middle
for i in range(int(L/2)):
    # Swap each number with the number in 
    # the mirror position for example first and last
    n = numbers[i]
    numbers[i] = numbers[L-i-1]
    numbers[L-i-1] = n
numbers

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#3 Find array Min and Max

In [ ]:
def findMax(a):
  max, min = 0, 0
  for i in range(len(a)):
    if(a[i]<min):
      min = a[i]
    if(a[i]>max):
      max = a[i]
  return max, min

findMax([9, 8, 7, 6, 0, 5, 4, 3, 2, 1])

(9, 0)

#4 Reverse string

In [ ]:
def reverse(s):
    if len(s) == 0:
        return s

    return reverse(s[1:]) + s[0]
Str = 'house'

reverse(Str)

'esuoh'

#5 Write a program to find the least positive integer missing from a list of inputs integers.

Ex:- [1,-1,3,7,8,0,2,5,-6]<br>
output: 4

Ex:- [3,7,-1,8,9,10]<br>
output: 1

In [ ]:
list_inp = [1,-1,3,7,8,0,2,5,-6]
comparing_list = list(range(1,len(list_inp)+1))
for i in range(len(list_inp)):
  if (list_inp[i]>0):
    comparing_list.remove(list_inp[i])
comparing_list

[4, 6, 9]

#6  Returns an highest length word from the string

Ex: Hello, this is Gulabpatel<br>
output: Gulabpatel

Ex: Hello this is Gulab from united states of India

output: united

In [ ]:
test0 = {'input': {'text': "this is Gulab"},
         'output': "Gulab"}
test1 = {'input': {'text': ''},
         'output': -1}
test2 = {'input': {'text': "this this this"},
         'output': "this"}
tests = [test0,test1,test2]

In [ ]:
def mex_len_string(text):
  text = text.split()
  # print("text ", text)
  max=0
  index=0
  if len(text)==0:
    return -1
  else:
    for i in range(len(text)):
      if len(text[i])>max:
        max=len(text[i])
        index = i
  return text[index]
mex_len_string(test2['input']['text'])

'this'

#6.1 Find missing numbers in a list

In [ ]:
lst = [6,7,10,11,13]
def missing_numbers_1(lst):
  return [x for x in range(lst[0], lst[-1]+1) if x not in lst]

missing_numbers_1(lst) ##T(n) = O(n^2)

[8, 9, 12]

In [ ]:
def missing_numbers_2(lst,n):
  b = [0]*(lst[n-1]+1)
  for i in range(n):
    b[lst[i]] = 1
  for i in range(lst[0], lst[n-1]+1):
    if b[i]==0:
      print(i, end=" ")

lst = [6,7,10,11,13]
n = len(lst)
missing_numbers_2(lst,n) ##T(n) = n + n = O(n)

8 9 12

In [ ]:
def missing_numbers_3(lst, n):
  c = 0
  for i in range(lst[0], lst[n-1]+1):
    if (lst[c] == i):
      c+=1
    else:
      print(i, end=" ")

lst = [6,7,10,11,13]
n = len(lst)
missing_numbers_3(lst,n)

8 9 12

#7 Return S, sum of the marks of K Top Scores

Input: First Line Contains N, Total number of participants, Second line contains K, Top scores. Third Line Contains an arry of N-1 elements

Sample Test Cases::<br>
4<br>
2<br>
4,1,2,5

In [ ]:
##General case
test0 = {'input': {'N': 5,
                   'K': 2,
                   'arr': [1,2,7,5,9]},
         'output': 16}
#Edge case
test1 = {'input': {'N': 5,
                   'K': 0,
                   'arr': [1,2,7,5,9]},
         'output': 0}
test2 = {'input': {'N': 0,
                   'K': 0,
                   'arr': [1,2,7,5,9]},
         'output': 0}
test3 = {'input': {'N': 5,
                   'K': 2,
                   'arr': [6,6,6,6,6]},
         'output': 12}
test4 = {'input': {'N': 5,
                   'K': 2,
                   'arr': [0,0,0,0,0]},
         'output': 0}
test5 = {'input': {'N': 5,
                   'K': 6,
                   'arr': [0,0,0,0,0]},
         'output': -1}

tests = [test0,test1,test2,test3,test4]

In [ ]:
def sum_of_K(N, K, arr):
  arr = sorted(arr, reverse=True)
  sum = 0
  if K > N:
    return -1
  else:
    for i in range(K):
      sum = sum + arr[i]
  return sum

sum_of_K(test5['input']['N'], test5['input']['K'],test5['input']['arr'])

-1

In [ ]:
sorted([2,4,3,1], reverse=True)

[4, 3, 2, 1]

#8 Given an array of integers $arr$ and integer $k$, find the $kth$ largest element

In [ ]:
test0 = {'input' : {'arr':[4,2,9,7,5,6,7,1,3],
                    'k' : 4},
         'output': 6}

In [ ]:
#1. Solution
def kth_largest(arr, k):
  for i in range(k-1):   #k-1 times
    arr.remove(max(arr))  ##2*n times
  return max(arr)  #n times
## T(n) = (k-1)*2n + n = 2kn - n = O(kn)
## S(n) = O(1)

#2. Solution Sorting
def kth_largest_sort(arr, k):
  n = len(arr)
  arr.sort()
  return arr[n-k]
## T(n) = O(nlogn)
## S(N) = O(1)

In [ ]:
#3. Solution
import heapq
def kth_largest(arr, k):
  arr = [-elm for elm in arr] ##n times
  heapq.heapify(arr) ## n times
  for i in range(k-1):  ## k-1 times
    heapq.heappop(arr)  #logn
  return -heapq.heappop(arr) #lonn
kth_largest(test0['input']['arr'], test0['input']['k'])
## T(n) = 2n + (k-1)*logn + logn = 2n + klogn = O(n + klogn)
## S(N) = O(n)

6

#9 Heap, heapsort and priority queues

https://www.youtube.com/watch?v=pLIajuc31qk


Node: $i$ <br>
Left child: 2$i$ + 1<br>
Right child: 2$i$ + 2<br>
Parent: $(i-1)$/2

Operation: insert, get min/max, extract min/max, update, build

In [ ]:
def _siftup(self,i):
  parent = (i-1)//2
  while i != 0 and self.heap[i] < self.heap[parent]:
    self.heap[i], self.heap[parent] = self.heap[parent], self.heap[i]
    i = parent
    parent = (i-1)//2
def _siftdown(self, i):
  left = 2*i + 1
  right = 2*i + 2
  while (left < len(self.heap) and self.heap[i] > self.heap[left]) or (right < len(self.heap) and self.heap[i] > self.heap[right]):
    smallest = left if (right >= len(self.heap) or self.heap[left] < self.heap[right]) else right
    self.heap[i], self.heap[smallest] = self.heap[smallest], self.heap[i]
    i = smallest
    left = 2*i + 1
    right = 2*i + 2

## T(n) = O(logn)  For sift-up and sift-down

In [ ]:
def insert(self, element):
  self.heap.append(element)
  self._siftup(len(self.heap) - 1) #O(logn)

def get_min(self):
  return self.heap[0] if len(self.heap) > 0 else None #O(1)

def extract_min(self, element):
  if len(self.heap) == 0:
    return None
  minval = self.heap[0]
  self.heap[0], self.heap[-1] = self.heap[-1], self.heap[0]
  self.heap.pop()
  self._siftdown(0)
  return minval  ## O(logn)

def update(self, old, new):
  if old in self.heap:
    self.update_by_index(self.heap.index(old), new)

#10 Length of Longest Unique subcharacter substring

In [ ]:
def longestUniqueSubsttr(string):
    last_idx = {}
    max_len = 0
    start_idx = 0
    for i in range(0, len(string)):    
        if string[i] in last_idx:
            start_idx = max(start_idx, last_idx[string[i]] + 1)
            print("start_index ", start_idx)

        max_len = max(max_len, i-start_idx + 1)      
        print("max_len ", max_len)
        # Update last index of current char.
        last_idx[string[i]] = i
        print("index_dict ", last_idx)
    return max_len
# Driver program to test the above function
string = "geeksforgeeks"
print("The input string is " + string)
length = longestUniqueSubsttr(string)
print("The length of the longest non-repeating character" +
	" substring is " + str(length))

The input string is geeksforgeeks
max_len  1
index_dict  {'g': 0}
max_len  2
index_dict  {'g': 0, 'e': 1}
start_index  2
max_len  2
index_dict  {'g': 0, 'e': 2}
max_len  2
index_dict  {'g': 0, 'e': 2, 'k': 3}
max_len  3
index_dict  {'g': 0, 'e': 2, 'k': 3, 's': 4}
max_len  4
index_dict  {'g': 0, 'e': 2, 'k': 3, 's': 4, 'f': 5}
max_len  5
index_dict  {'g': 0, 'e': 2, 'k': 3, 's': 4, 'f': 5, 'o': 6}
max_len  6
index_dict  {'g': 0, 'e': 2, 'k': 3, 's': 4, 'f': 5, 'o': 6, 'r': 7}
start_index  2
max_len  7
index_dict  {'g': 8, 'e': 2, 'k': 3, 's': 4, 'f': 5, 'o': 6, 'r': 7}
start_index  3
max_len  7
index_dict  {'g': 8, 'e': 9, 'k': 3, 's': 4, 'f': 5, 'o': 6, 'r': 7}
start_index  10
max_len  7
index_dict  {'g': 8, 'e': 10, 'k': 3, 's': 4, 'f': 5, 'o': 6, 'r': 7}
start_index  10
max_len  7
index_dict  {'g': 8, 'e': 10, 'k': 11, 's': 4, 'f': 5, 'o': 6, 'r': 7}
start_index  10
max_len  7
index_dict  {'g': 8, 'e': 10, 'k': 11, 's': 12, 'f': 5, 'o': 6, 'r': 7}
The length of the longest non-repeating character substring is 7

#11 Overlapping Subproblems Property in Dynamic Programming DP-1

Dynamic programming is mainly used when solutions of the same subproblems are needed again and again. In Dynamic programming, computed solutions to subproblems are stored in a table so that these don't have to be recomputed. So Dynamic programming is not useful when there are no common(overlapping) subproblems because there s no point storing the solutions if they are not needed again.


Overlapping Subproblems:

In [ ]:
# a simple recursive program foor Fibonacci numbers
%%time
def fib(n):
  if n <= 1:
    return n
  else:
    return fib(n-1) + fib(n-2)
fib(20)

CPU times: user 4.1 ms, sys: 0 ns, total: 4.1 ms
Wall time: 4.14 ms

                              
                          fib(5)
                      /       \
               fib(4)              fib(3)
             /      \                /     \
         fib(3)      fib(2)         fib(2)    fib(1)
        /     \        /    \       /    \
    fib(2)   fib(1)  fib(1) fib(0) fib(1) fib(0)
    /    \
    fib(1) fib(0)

There are following two different ways to store the values so that these can be reused:

a) Memoization(Top Down)
b) Tabulation(Bottom Up)

In [ ]:
#a program for Memoized version of nth Fibonacci number
%%time
def fib1(n):
  lookup = [None]*101
  if n <= 1:
    lookup[n] = n
  #if the value is not calculated previously the calculate it
  if lookup[n] is None:
    lookup[n] = fib1(n-1) + fib1(n-2)

  #return the value corresponding to the value of n
  return lookup[n]
  
fib1(20)

CPU times: user 16.4 ms, sys: 706 µs, total: 17.1 ms
Wall time: 19.1 ms

In [ ]:
# Tabulation (Bottom Up): The tabulated program for a given problems builds a table in bottom-up fashion and return the
# returns the last entry from the table.

##Python program Tabulated (bottom up) version
%%time
def fib2(n):
  #array declaration
  f = [0]*(n+1)

  #base case assignment
  f[1] = 1

  #calculating the fibonacci and storing the values
  for i in range(2, n+1):
    f[i] = f[i-1] + f[i-2]
  return f[n]
fib2(20)

CPU times: user 15 µs, sys: 0 ns, total: 15 µs
Wall time: 20.3 µs

Longest Increasing Subsequence | DP-3

In [ ]:
##General case
test0 = {'input': {'arr': [3,10,2,1,20]},
         'output': 3}
#Edge case
test1 = {'input': {'arr': [3,2]},
         'output': 1}
test2 = {'input': {'arr': [50,3,10,7,40,80]},
         'output': 4}
test3 = {'input': {'arr': [6,6,6,6,6]},
         'output': 1}
test4 = {'input': {'arr': []},
         'output': -1}

tests = [test0,test1,test2,test3,test4]

In [ ]:
# A naive Python implementation of LIS problem
global maximum
def _lis(arr, n):
	# global maximum
	if n == 1:
		return 1
	# maxEndingHere is the length of LIS ending with arr[n-1]
	maxEndingHere = 1
	for i in range(1, n):
		res = _lis(arr, i)
		if arr[i-1] < arr[n-1] and res+1 > maxEndingHere:
			maxEndingHere = res + 1
	maximum = max(maximum, maxEndingHere)
	return maxEndingHere


def lis(arr):

	# to allow the access of global variable
	global maximum

	# length of arr
	n = len(arr)

	# maximum variable holds the result
	maximum = 1

	# The function _lis() stores its result in maximum
	_lis(arr, n)

	return maximum


# Driver program to test the above function
arr = [10, 22, 9, 33, 21, 50, 41, 60]
n = len(arr)
print ("Length of lis is ", lis(arr))

# This code is contributed by NIKHIL KUMAR SINGH

In [ ]:
def lis(arr):
	n = len(arr)
	lis = [1]*n
	# Compute optimized LIS values in bottom up manner
	for i in range(1, n):
		for j in range(0, i):
			if arr[i] > arr[j] and lis[i] < lis[j] + 1:
				lis[i] = lis[j]+1

	# Initialize maximum to 0 to get
	# the maximum of all LIS
	maximum = 0

	# Pick maximum of all LIS values
	for i in range(n):
		maximum = max(maximum, lis[i])

	return maximum
# end of lis function


# Driver program to test above function
arr = [10, 22, 9, 33, 21, 50, 41, 60]
print ("Length of lis is", lis(arr))
# This code is contributed by Nikhil Kumar Singh

3.Longest Common Subsequence

A string of length $n$ has $2^n$ deiiferent possible subsequences.

If last character of both sequences match(or X[m-1]==Y[n-1]) then L(X[0..m-1],Y[0..n-1]) = 1 + L(X[0...m-2], Y[0..n-2])

In [ ]:
def lcs(X,Y,m,n):
  if m==0 or n == 0:
    return 0
  elif X[m-1] == Y[n-1]:
    return 1 + lcs(X, Y, m-1, n-1)
  else:
    return max(lcs(X,Y,m,n-1), lcs(X,Y,m-1,n))

X = "AGGTAB"
Y = "GXTXAYB"
print ("Length of LCS is ", lcs(X, Y, len(X), len(Y)))

Length of LCS is  4

In [ ]:
def lcq_recursive(seq1, seq2, idx1=0, idx2=0):
    if idx1 == len(seq1) or idx2 == len(seq2):
        return 0
    if seq1[idx1] == seq2[idx2]:
        return 1 + lcq_recursive(seq1, seq2, idx1+1, idx2+1)
    else:
        return max(lcq_recursive(seq1, seq2, idx1+1, idx2), 
                   lcq_recursive(seq1, seq2, idx1, idx2+1))
X = "AGGTAB"
Y = "GXTXAYB"
print ("Length of LCS is ", lcq_recursive(X, Y))

Length of LCS is  4

In [ ]:
def lcq_memoized(seq1, seq2):
    memo = {}
    def recurse(idx1, idx2):
        key = idx1, idx2
       
        if key in memo:
            return memo[key]
        
        elif idx1 == len(seq1) or idx2 == len(seq2):
            memo[key] = 0
        elif seq1[idx1] == seq2[idx2]:
            memo[key] = 1 + recurse(idx1+1, idx2+1)
        else:
            memo[key] = max(recurse(idx1+1, idx2), 
                            recurse(idx1, idx2+1))
        return memo[key]        
    return recurse(0, 0)
lcq_memoized(X, Y)

7

In [ ]:
memo = {}
def recurse(seq1,seq2,idx1, idx2):
    key = idx1, idx2
    
    if key in memo:
        return memo[key]
    
    elif idx1 == len(seq1) or idx2 == len(seq2):
        memo[key] = 0
    elif seq1[idx1] == seq2[idx2]:
        memo[key] = 1 + recurse(seq1,seq2,idx1+1, idx2+1)
    else:
        memo[key] = max(recurse(seq1,seq2,idx1+1, idx2), 
                        recurse(seq1,seq2,idx1, idx2+1))
    return memo[key]

In [ ]:
X = 'serendipitous'
Y = 'precipitation'
recurse(X,Y,0,0)

7

In [ ]:
def lcq_dp(seq1, seq2):
    n1, n2 = len(seq1), len(seq2)
    results = [[0 for _ in range(n2+1)] for _ in range(n1+1)]
    for idx1 in range(n1):
        for idx2 in range(n2):
            if seq1[idx1] == seq2[idx2]:
                results[idx1+1][idx2+1] = 1 + results[idx1][idx2]
            else:
                results[idx1+1][idx2+1] = max(results[idx1][idx2+1], results[idx1+1][idx2])
    return results[-1][-1]
lcq_dp(X, Y)

4

#12 Anagrams

Two strings are anagrams if they're made of the same characters with the same frequencies. 

freq1 = frequencies of characters of s1<br>
freq2 = frequencies of characters of s2<br>
freq1 == freq2 => s1 and s2 are anagrams

In [ ]:
def are_anagrams(s1, s2):
  if len(s1) != len(s2):
    return False
  
  freq1 = {}
  freq2 = {}

  for ch in s1:
    if ch in freq1:
      freq1[ch] += 1
    else:
      freq1[ch] = 1

  for ch in s2:
    if ch in freq2:
      freq2[ch] += 1
    else:
      freq2[ch] = 1

  for key in freq1:
    if key not in freq2 or freq1[key] != freq2[key]:
      return False
  return True

s1 = 'nameless' #'danger'
s2 =  'salesmen' #'garden'

Bool = are_anagrams(s1,s2)
Bool

#Time complexity
## T(n) = O(n) + O(n) + O(n)
## T(n) = O(n)

#Space Complexity
## S(n) = O(n) + O(n)
## S(n) = O(n)

True

In [ ]:
#2
from collections import Counter
def are_anagrams(s1, s2):
  if len(s1) != len(s2):
    return False
  return Counter(s1) == Counter(s2)

#3
def are_anagrams(s1, s2):
  if len(s1) != len(s2):
    return False
  return sorted(s1) == sorted(s2)
#Time complexity
## T(n) = O(nlogn) + O(nlogn) +O(n) = O(nlogn)
## S(n) = 2n = O(n)

False

#13 First and last position

Given a sorted $array$ of integers arr and an integers $target$, find the index of first and last postion of target in array. If target can't be found in arr, return [-1,-1]

In [ ]:
def first_and_last(arr, target):
  for i in range(len(arr)):
    if arr[i] == target:
      start = i
      while i+1 < len(arr) and arr[i+1] == target:
        i+=1
      return [start, i]
  return [-1, -1] 

first_and_last([2,4,5,5,5,5,5,7,9,9], 3)

## T(n) = O(n)
## S(N) = O(1)

[-1, -1]

In [ ]:
#2 Using binary search
def find_start(arr, target):
  if arr[0] == target:
    return 0
  left, right = 0, len(arr)-1
  while left < right:
    mid = (left+right)//2
    if arr[mid] == target and arr[mid-1] < target:
      return mid
    elif arr[mid] < target:
      left = mid + 1
    else:
      right = mid - 1
  return -1

def first_and_last(arr, target):
  if len(arr) == 0:
    return [-1, -1]
  start = find_start(arr, target)
  if start == -1:
    return [-1, -1]
  end = start
  while end + 1 < len(arr) and arr[end + 1] == target:
    end+=1
  return [start, end]
first_and_last([2,4,5,5,5,5,5,7,9,9], 5)

## T(n) = O(nlogn) + O(n) = O(n)

[2, 6]

In [ ]:
def find_end(arr, target):
  if arr[-1] == target:
    return len(arr)-1
  left, right = 0, len(arr)-1
  while left <= right:
    mid = (left + right)//2
    if arr[mid] == target and arr[mid+1] > target:
      return mid
    elif arr[mid] > target:
      right = mid - 1
    else:
      left = mid + 1
  return -1

In [ ]:
def first_and_last(arr, target):
  if len(arr) == 0 or arr[0] > target or arr[-1] < target:
    return [-1, -1]
  start = find_start(arr, target)
  end = find_end(arr, target)
  return [start, end]
## T(n) = 2*O(logn) = O(logn)
## S(N) = O(1)

#14 Max profit stock

In [ ]:
eth = [100, 20, 25, 80, 150, 230, 30]
Input= [7,1,5,3,6,4]
inpt = [1,5,4,10]
def max_profit(prices):
  m = 0
  for i in range(0, len(prices)):
    #buy at time i
    for j in range(i+1, len(prices)):
      profit = prices[j] - prices[i]
      m = max(m, profit)
  return m
max_profit(inpt)

9

#15. Sort dictionary using Value

In [ ]:
def dictionary():
  key_value = {}
  key_value[2] = 56
  key_value[1] = 2
  key_value[5] = 12
  key_value[4] = 24
  key_value[6] = 18
  key_value[3] = 323
  print("Task 3: -nKeys and Values sorted ","in alphabetical order by the value")
  print(sorted(key_value.items(), key=lambda kv:(kv[1],kv[0])))

def main():
  dictionary()

if __name__=="__main__":
  main()

Task 3: -nKeys and Values sorted  in alphabetical order by the value
[(1, 2), (5, 12), (6, 18), (4, 24), (2, 56), (3, 323)]

In [ ]:
from collections import OrderedDict
 
dict = {'ravi':'10','rajnish':'9','sanjeev':'15','yash':'2','suraj':'32'}
dict1 = OrderedDict(sorted(dict.items()))
print(dict1)

In [ ]:
dict = {'ravi':10,'rajnish':9,'sanjeev':15,'yash':2,'suraj':32}
dict

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
sorted(dict.items(), key=lambda kv:(kv[1],kv[0]))

[('yash', 2), ('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32)]

#16.a Tiger Question

inp = [1, 4, 5, 1, 1, 7, 8, 8, 4]<br>
out = [1, 1, 1, 8, 8, 4, 4, 7, 5]

In [ ]:
inp = [1, 4, 5, 1, 1, 7, 8, 8, 4]
out = [1, 1, 1, 8, 8, 4, 4, 7, 5]

In [ ]:
temp_dict = {}
for i in inp:
  if i in temp_dict.keys():
    temp_dict[i] += 1
  else:
    temp_dict[i] = 1
temp_dict

{1: 3, 4: 2, 5: 1, 7: 1, 8: 2}

In [ ]:
temp_out = sorted(temp_dict.items(), key=lambda kv:(kv[1], kv[0]), reverse=True)
temp_out

[(1, 3), (8, 2), (4, 2), (7, 1), (5, 1)]

In [ ]:
lst = []
for i in temp_out:
  lst.append([i[0]]*i[1])
print(lst)
[val for sublist in lst for val in sublist]

[[1, 1, 1], [8, 8], [4, 4], [7], [5]]

[1, 1, 1, 8, 8, 4, 4, 7, 5]

In [ ]:
import numpy as np
np.concatenate(lst).ravel()

array([1, 1, 1, 8, 8, 4, 4, 7, 5])

##b.

int = ccaacbbaacc<br>
out = cab

In [ ]:
Int = "ccaacbbaacc"
temp_dict = {}
for i in Int:
  if i in temp_dict.keys():
    temp_dict[i] += 1
  else:
    temp_dict[i] = 1
temp_dict

{'a': 4, 'b': 2, 'c': 5}

In [ ]:
out = sorted(temp_dict.items(), key=lambda kv:(kv[1],kv[0]), reverse=True)
out

[('c', 5), ('a', 4), ('b', 2)]

In [ ]:
Str = ''
for i in out:
  Str = Str + i[0]
Str

'cab'

In [ ]:
a={2:1,4:54,1:32,5:54,3:32}
#for i in sorted(a.values()):
d={}
for i in sorted(a.values()):
    for k in (a.keys()):
        if k in d:
            continue
        else:
            if a[k]==i:
                d[k]=i
                break
print(d)

{2: 1, 1: 32, 3: 32, 4: 54, 5: 54}

#TVS

In [ ]:
l1 = [1,3,5,2,3,4,6,8,0]
l2 = [2,5,7,9,2,6]

In [ ]:
A = [[l1[i+3*j] for i in range(3)] for j in range(3)]
B = [[l2[i+2*j] for i in range(2)] for j in range(3)]
A,B

([[1, 3, 5], [2, 3, 4], [6, 8, 0]], [[2, 5], [7, 9], [2, 6]])

In [ ]:
# C = [[0 for j in range(2)] for i in range(3)]	#Matrix multiplication
# for m in range(len(A)):    
#    for n in range(len(B[0])):    
#           for o in range(len(B)):    
#                C[m][n] += A[m][o] * B[o][n] 
# C

In [ ]:
# def mergeMatrix(A, B):
C = [[0 for j in range(3+2)] for i in range(3)]	
for i in range(3):
  for j in range(3):			
    C[i][j] = A[i][j]	          
for i in range(3):
  for j in range(2):			
    C[i][j + 3] = B[i][j]
#     return C
# C =	mergeMatrix(A, B)
C

[[1, 3, 5, 2, 5], [2, 3, 4, 7, 9], [6, 8, 0, 2, 6]]

In [ ]:
[1,2,3,4]+[0]

[1, 2, 3, 4, 0]

In [ ]:
D = [[C[j][i] for j in range(len(C))] for i in range(len(C[0]))] #Transpose
D

In [ ]:
flist = lambda y: [x for a in y for x in flist(a)] if type(y) is list else [y]
D= flist(D)
D

[1, 2, 6, 3, 3, 8, 5, 4, 0, 2, 7, 2, 5, 9, 6]

In [ ]:
F = [[0 for j in range(6)] for i in range(3)]	## columnwise wise merging
for i in range(3):
  for j in range(5):			
    F[i][j] = C[i][j]	          
for i in range(3):
  for j in range(1):			
    F[i][j + 5] = E[i][j]

In [ ]:
E1 = [[0 for i in range(1)] for j in range(5)]
E1

[[0], [0], [0], [0], [0]]

In [ ]:
G = [[0 for j in range(5)] for i in range(4)]	## Rowwise merging
for i in range(3):
  for j in range(5):			
    G[i][j] = C[i][j]	          
    # for i in range(5):
for j in range(5):			
    G[3][j] = E1[j][0]
G

[[1, 3, 5, 2, 5], [2, 3, 4, 7, 9], [6, 8, 0, 2, 6], [0, 0, 0, 0, 0]]

In [ ]:
sumRow = []
for i in range(0, 6):  
    sum = 0
    for j in range(0, 3):  
        sum = sum + F[j][i];
    sumRow.append(sum) 
sumRow

[9, 14, 9, 11, 20, 0]

In [ ]:
sumCol = []
for i in range(3):  
    sum = 0
    for j in range(6):  
        sum = sum + F[i][j];
    sumCol.append(sum) 
sumCol

[16, 25, 22]

In [ ]:
import re

In [ ]:
#text = ['I was sitting on the river bank',
 #       'all the banks are closed',
 #       'The bank of te river offers amazing view'
text = 'The bank of te river offers amazing view'

pattern = '(?=.*?river)(?=.*?bank)' #'(?<=river)(?=.*?bank)|(?<=river)(?=.*?bank)' #'(?<=river)(?=.*?bank)' #
#
matches = re.findall(pattern, text)
matches

['', '', '', '', '']