<a href="https://colab.research.google.com/github/gulabpatel/Python_Tutorials/blob/master/Competitive_Python_Coding/Part1_String_CC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Number Series

#Q-1. nth term of the following series
  1,1,2,3,4,9,8,27,16,81,32,243,.....
What is 12th value of the series?

In [ ]:
arr = [1,1,2,4,9,8,27,16,81,32,243]
n=11
c = []
for i in range(1,n+1):
  if i%2 !=0:
    if i == 1:
      a = 1
    else:
      a = a*2
    c.append(a)
  else:
     if i == 2:
       b = 1
     else: 
        b = b*3
     c.append(b)
c[n-1]

32

#Q-2. nth term of the following series 
0,0,2,1,4,2,6,3,8,4,10,5,12,6,14,7,16,8.....What is 10th element in the series?

In [ ]:
n = 10
c = []
a = 0
for i in range(1, n+1):
  if i%2 != 0:
    if i==1:
       a = 0
    else:
      a = a+2
    c.append(a)
  else:
     b = int(a/2)
     c.append(b)
print(c)
c[n-1]

[0, 0, 2, 1, 4, 2, 6, 3, 8, 4]

4

#Q-3. Decimal to Binary Using Recursion

In [ ]:
def convertToBinary(n):
  if n>=1:
    convertToBinary(n//2)
    print(n%2, end='')
n = 35

# Driver code  
if __name__ == '__main__': 
   print(convertToBinary(n))

100011None

#Q-4. Decimal to Binary, Octal and Hexadecimal

In [ ]:
n = 35
print("The decimal value of", n, "is:")
print(bin(n), "in binary.")
print(oct(n), "in octal.")
print(hex(n), "in hexadecimal.")

print("\nNumber with the prefix 0b is considered binary, 0o is considered octal and 0x as hexadecimal\n")

print("The decimal value of", n, "is:")
print(bin(n).replace("0b",""), "in binary.")
print(oct(n).replace("0o",''), "in octal.")
print(hex(n).replace("0x",""), "in hexadecimal.")

The decimal value of 35 is:
0b100011 in binary.
0o43 in octal.
0x23 in hexadecimal.

Number with the prefix 0b is considered binary, 0o is considered octal and 0x as hexadecimal

The decimal value of 35 is:
100011 in binary.
43 in octal.
23 in hexadecimal.

#Q-5. All Prime Numbers in an Interval

In [ ]:
def allPrime(lower, upper):
  for num in range(lower, upper+1):
    if num > 1:
      for i in range(2,num):
        if num % i == 0:
          break
      else:
        print(num)
lower = 900
upper = 1000
allPrime(lower, upper)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

#Q-6. Binary to Decimal

In [ ]:
 def bcdToDecimal():  
   b_num = list(input("Inter a binary number"))
   value = 0

   for i in range(len(b_num)):
     n = b_num.pop()
     if n == '1':
       value = value + pow(2, i)

   print("The decimal value of the number is", value)

bcdToDecimal()

Inter a binary number1100001
The decimal value of the number is 97

#Q-6. What is output?

Looking at the below code, write down the final values of A0,A1,....,An
* A0 = dict(zip(('a','b','c','d','e'),(1,2,3,4,5)))
* A1 = range(10)
* A2 = sorted([i for i in A1 if i in A0])
* A3 = sorted([A0[s] for s in A0])
* A4 = [i for i in A1 if i in A3]
* A5 = {i:i*i for i in A1}
* A6 = [[i,i*i] for i in A1]

In [ ]:
#Let's do it one by one
zp = zip(('a','b','c','d','e'),(1,2,3,4,5))
#print(tuple(zp))
A0 = dict(zip(('a','b','c','d','e'),(1,2,3,4,5)))
print(A0)
A1 = range(10)
print(A1)
A2 = sorted([i for i in A1 if i in A0])
print(A2)
A3 = sorted([A0[s] for s in A0])
print(A3)
A4 = [i for i in A1 if i in A3]
print(A4)
A5 = {i:i*i for i in A1}
print(A5)
A6 = [[i,i*i] for i in A1]
print(A6)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
range(0, 10)
[]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
[[0, 0], [1, 1], [2, 4], [3, 9], [4, 16], [5, 25], [6, 36], [7, 49], [8, 64], [9, 81]]

#Q-7. How to get indices of N Maximum Values in a numpy array

In [ ]:
import numpy as np
arr = np.array([1,3,2,4,5])
print(arr.argsort()[-3:])
print(arr.argsort()[-3:][ : : -1])

[1 3 4]
[4 3 1]

#Q-8. DataFrame Filtering

How can I subset on a list of values?
Like- list_of_values=[3,6], y = df[df['A'] in list_of_values]

In [ ]:
import pandas as pd
df = pd.DataFrame({'A':[5,6,3,4], 'B':[1,2,3,5]})
#This is indeed a duplicate of how to filter the dataframe rows of pandas.
df[df['A'].isin([3,6])]

   A  B
1  6  2
2  3  3

In [ ]:
import numpy as np
df = pd.DataFrame({'A':[5,3,np.nan,4,np.nan], 'B':[np.nan,3,5,np.nan,7]})
#Filter the row where B is finite
df[np.isfinite(df['B'])]

     A    B
1  3.0  3.0
2  NaN  5.0
4  NaN  7.0